/* Add your custom styles for the login form */
section {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #718355;
    font-size: 2em;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    color: #718355;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #B5C99A;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #718355;
    color: #E9f5DB;
    cursor: pointer;
    font-size: 1em; /* Set the font size to match the contact form button */
}

input[type="submit"]:hover {
    background-color: #B5C99A;
}
